Package: com.icraze.reboom
Name: ReBoom
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Modding and other goodies for "Boom!"
Maintainer: iCraze
Author: iCraze
Section: Tweaks
