<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Goodies</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>PauseBug</string>
			<key>label</key>
			<string>Pause bug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>EverythingUnlocked</string>
			<key>label</key>
			<string>Everything unlocked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>DisableICloud</string>
			<key>label</key>
			<string>Disable iCloud</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TAS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>TASMode</string>
			<key>label</key>
			<string>Replay mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>RecordMode</string>
			<key>label</key>
			<string>Recording mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>FixedDelta</string>
			<key>label</key>
			<string>Fixed delta time</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Debug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>DisableChecksum</string>
			<key>label</key>
			<string>Disable level checksums</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>LogRequest</string>
			<key>label</key>
			<string>Log decrypted requests</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>LogResponse</string>
			<key>label</key>
			<string>Log decrypted responses</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dtu.reboomprefs</string>
			<key>key</key>
			<string>DisableEncryption</string>
			<key>label</key>
			<string>Disable request encryption</string>
		</dict>
	</array>
	<key>title</key>
	<string>ReBoom</string>
</dict>
</plist>
