<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>get_coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{3983,2743},{102,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,108}}</string>
			<key>sourceSize</key>
			<string>{102,108}</string>
		</dict>
		<key>tournaments-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,1399},{894,170}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{894,170}}</string>
			<key>sourceSize</key>
			<string>{896,172}</string>
		</dict>
		<key>tournaments-top.png</key>
		<dict>
			<key>frame</key>
			<string>{{3797,2349},{128,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,164}}</string>
			<key>sourceSize</key>
			<string>{128,164}</string>
		</dict>
		<key>tournaments-tree.png</key>
		<dict>
			<key>frame</key>
			<string>{{2271,757},{128,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,1024}}</string>
			<key>sourceSize</key>
			<string>{128,1024}</string>
		</dict>
		<key>ui-avatar.png</key>
		<dict>
			<key>frame</key>
			<string>{{3707,2919},{140,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,140}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>ui-bigicon-restart-gold-glow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2793,3147},{196,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{196,196}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ui-bigicon-restart-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{3927,2309},{148,154}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,22},{148,154}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ui-bigicon-restart.png</key>
		<dict>
			<key>frame</key>
			<string>{{3927,2465},{144,150}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,24},{144,150}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ui-button-138x90px.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,3283},{274,174}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{274,174}}</string>
			<key>sourceSize</key>
			<string>{276,180}</string>
		</dict>
		<key>ui-button-192px.png</key>
		<dict>
			<key>frame</key>
			<string>{{2825,1431},{376,214}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{376,214}}</string>
			<key>sourceSize</key>
			<string>{384,220}</string>
		</dict>
		<key>ui-button-347px.png</key>
		<dict>
			<key>frame</key>
			<string>{{1345,1955},{690,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{690,176}}</string>
			<key>sourceSize</key>
			<string>{694,176}</string>
		</dict>
		<key>ui-button-blue-286px.png</key>
		<dict>
			<key>frame</key>
			<string>{{3223,887},{568,214}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{568,214}}</string>
			<key>sourceSize</key>
			<string>{572,220}</string>
		</dict>
		<key>ui-button-blue-347px.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,1777},{690,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{690,176}}</string>
			<key>sourceSize</key>
			<string>{694,176}</string>
		</dict>
		<key>ui-button-challenge-facebook-friends.png</key>
		<dict>
			<key>frame</key>
			<string>{{2277,505},{1464,250}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{1464,250}}</string>
			<key>sourceSize</key>
			<string>{1468,256}</string>
		</dict>
		<key>ui-button-challenge-friends-turn-overlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{3241,2561},{170,176}}</string>
			<key>offset</key>
			<string>{271,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{920,36},{170,176}}</string>
			<key>sourceSize</key>
			<string>{1468,256}</string>
		</dict>
		<key>ui-button-challenge-friends-turn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2277,253},{1464,250}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{1464,250}}</string>
			<key>sourceSize</key>
			<string>{1468,256}</string>
		</dict>
		<key>ui-button-challenge-your-turn-overlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{3459,2345},{170,176}}</string>
			<key>offset</key>
			<string>{271,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{920,36},{170,176}}</string>
			<key>sourceSize</key>
			<string>{1468,256}</string>
		</dict>
		<key>ui-button-challenge-your-turn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2277,1},{1464,250}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{1464,250}}</string>
			<key>sourceSize</key>
			<string>{1468,256}</string>
		</dict>
		<key>ui-button-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3491,1665},{232,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{232,216}}</string>
			<key>sourceSize</key>
			<string>{236,216}</string>
		</dict>
		<key>ui-button-green-230px.png</key>
		<dict>
			<key>frame</key>
			<string>{{2247,2773},{454,216}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{454,216}}</string>
			<key>sourceSize</key>
			<string>{460,220}</string>
		</dict>
		<key>ui-button-green-276px.png</key>
		<dict>
			<key>frame</key>
			<string>{{2043,1825},{546,214}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{546,214}}</string>
			<key>sourceSize</key>
			<string>{552,220}</string>
		</dict>
		<key>ui-button-green-arrow-right-296.png</key>
		<dict>
			<key>frame</key>
			<string>{{3657,757},{586,214}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{586,214}}</string>
			<key>sourceSize</key>
			<string>{592,216}</string>
		</dict>
		<key>ui-button-green-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3203,1457},{254,214}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{254,214}}</string>
			<key>sourceSize</key>
			<string>{276,216}</string>
		</dict>
		<key>ui-button-green-fat.png</key>
		<dict>
			<key>frame</key>
			<string>{{2617,2769},{348,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{348,216}}</string>
			<key>sourceSize</key>
			<string>{348,216}</string>
		</dict>
		<key>ui-button-green-round.png</key>
		<dict>
			<key>frame</key>
			<string>{{2301,3229},{212,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{212,224}}</string>
			<key>sourceSize</key>
			<string>{216,228}</string>
		</dict>
		<key>ui-button-green-ultrawide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2465,2773},{406,150}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{406,150}}</string>
			<key>sourceSize</key>
			<string>{416,160}</string>
		</dict>
		<key>ui-button-green-wide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3709,1345},{308,150}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{308,150}}</string>
			<key>sourceSize</key>
			<string>{316,160}</string>
		</dict>
		<key>ui-button-invite-facebook-friend-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{2959,2149},{280,212}}</string>
			<key>offset</key>
			<string>{592,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1186,2},{280,212}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-left-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3025,2473},{262,214}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,214}}</string>
			<key>sourceSize</key>
			<string>{264,216}</string>
		</dict>
		<key>ui-button-level-locked-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{2183,1609},{550,214}}</string>
			<key>offset</key>
			<string>{457,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{916,2},{550,214}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-level-locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129,1859},{1464,214}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{1464,214}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-level-selected-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{2037,2041},{542,214}}</string>
			<key>offset</key>
			<string>{461,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{924,2},{542,214}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-level-selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,1927},{1464,214}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{1464,214}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-level-unlocked-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{2037,2257},{540,214}}</string>
			<key>offset</key>
			<string>{462,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{926,2},{540,214}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-level-unlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,1927},{1464,214}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{1464,214}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-orange-154px.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863,2133},{302,172}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{302,172}}</string>
			<key>sourceSize</key>
			<string>{308,178}</string>
		</dict>
		<key>ui-button-orange-192px.png</key>
		<dict>
			<key>frame</key>
			<string>{{2581,2085},{376,210}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{376,210}}</string>
			<key>sourceSize</key>
			<string>{384,220}</string>
		</dict>
		<key>ui-button-orange-230px.png</key>
		<dict>
			<key>frame</key>
			<string>{{3873,693},{450,212}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{450,212}}</string>
			<key>sourceSize</key>
			<string>{460,220}</string>
		</dict>
		<key>ui-button-orange-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3735,1937},{244,210}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{244,210}}</string>
			<key>sourceSize</key>
			<string>{248,216}</string>
		</dict>
		<key>ui-button-orange-fat.png</key>
		<dict>
			<key>frame</key>
			<string>{{3145,1673},{344,210}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{344,210}}</string>
			<key>sourceSize</key>
			<string>{348,216}</string>
		</dict>
		<key>ui-button-orange-round.png</key>
		<dict>
			<key>frame</key>
			<string>{{3861,1723},{212,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{212,224}}</string>
			<key>sourceSize</key>
			<string>{216,228}</string>
		</dict>
		<key>ui-button-pink-347px.png</key>
		<dict>
			<key>frame</key>
			<string>{{3743,1},{690,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{690,176}}</string>
			<key>sourceSize</key>
			<string>{694,176}</string>
		</dict>
		<key>ui-button-right-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2809,2489},{262,214}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{262,214}}</string>
			<key>sourceSize</key>
			<string>{264,216}</string>
		</dict>
		<key>ui-button-round.png</key>
		<dict>
			<key>frame</key>
			<string>{{3861,1509},{212,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{212,224}}</string>
			<key>sourceSize</key>
			<string>{216,228}</string>
		</dict>
		<key>ui-button-settings-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,3283},{172,182}}</string>
			<key>offset</key>
			<string>{644,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1292,12},{172,182}}</string>
			<key>sourceSize</key>
			<string>{1468,220}</string>
		</dict>
		<key>ui-button-thin-blue-198px.png</key>
		<dict>
			<key>frame</key>
			<string>{{2835,2753},{392,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{392,140}}</string>
			<key>sourceSize</key>
			<string>{396,144}</string>
		</dict>
		<key>ui-button-ultrawide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2029,2807},{512,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{512,216}}</string>
			<key>sourceSize</key>
			<string>{516,216}</string>
		</dict>
		<key>ui-button-ultrawide-l-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2271,1391},{552,216}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{552,216}}</string>
			<key>sourceSize</key>
			<string>{556,220}</string>
		</dict>
		<key>ui-button-ultrawide-xl-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3439,757},{596,216}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{596,216}}</string>
			<key>sourceSize</key>
			<string>{600,220}</string>
		</dict>
		<key>ui-button-wide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2735,1647},{408,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,216}}</string>
			<key>sourceSize</key>
			<string>{408,216}</string>
		</dict>
		<key>ui-button-wide-right-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3873,1145},{362,212}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{362,212}}</string>
			<key>sourceSize</key>
			<string>{368,216}</string>
		</dict>
		<key>ui-challenge-menu-pole-cut.png</key>
		<dict>
			<key>frame</key>
			<string>{{2735,1609},{64,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,36}}</string>
			<key>sourceSize</key>
			<string>{64,36}</string>
		</dict>
		<key>ui-challenge-menu-pole.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,3393},{64,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,1024}}</string>
			<key>sourceSize</key>
			<string>{64,1024}</string>
		</dict>
		<key>ui-challenge-menu-sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,1571},{830,204}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{830,204}}</string>
			<key>sourceSize</key>
			<string>{836,224}</string>
		</dict>
		<key>ui-checkbox-big-box.png</key>
		<dict>
			<key>frame</key>
			<string>{{3585,2611},{114,116}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{114,116}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>ui-checkbox-big-check.png</key>
		<dict>
			<key>frame</key>
			<string>{{3709,1655},{158,150}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{158,150}}</string>
			<key>sourceSize</key>
			<string>{164,164}</string>
		</dict>
		<key>ui-checkbox-medium-box.png</key>
		<dict>
			<key>frame</key>
			<string>{{3743,693},{58,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>ui-checkbox-medium-check.png</key>
		<dict>
			<key>frame</key>
			<string>{{3847,2515},{80,76}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{80,76}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>ui-checkbox-small-box.png</key>
		<dict>
			<key>frame</key>
			<string>{{3217,3417},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{40,40}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>ui-checkbox-small-check.png</key>
		<dict>
			<key>frame</key>
			<string>{{1047,1859},{66,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{66,60}}</string>
			<key>sourceSize</key>
			<string>{72,64}</string>
		</dict>
		<key>ui-coinbar-big-coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{3257,2359},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ui-coinbar-coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{3307,3325},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>ui-coinbar.png</key>
		<dict>
			<key>frame</key>
			<string>{{3921,1},{476,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{476,88}}</string>
			<key>sourceSize</key>
			<string>{476,88}</string>
		</dict>
		<key>ui-facebook-86px.png</key>
		<dict>
			<key>frame</key>
			<string>{{2029,3321},{136,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,136}}</string>
			<key>sourceSize</key>
			<string>{136,136}</string>
		</dict>
		<key>ui-facebook-profile-frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{3383,3047},{144,144}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{144,144}}</string>
			<key>sourceSize</key>
			<string>{152,152}</string>
		</dict>
		<key>ui-finger.png</key>
		<dict>
			<key>frame</key>
			<string>{{1345,2893},{346,482}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{346,482}}</string>
			<key>sourceSize</key>
			<string>{350,484}</string>
		</dict>
		<key>ui-gamecenter-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3849,2743},{132,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{132,144}}</string>
			<key>sourceSize</key>
			<string>{136,148}</string>
		</dict>
		<key>ui-hand-hint.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,773},{1236,682}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{1236,682}}</string>
			<key>sourceSize</key>
			<string>{1240,688}</string>
		</dict>
		<key>ui-high-score-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{2591,1865},{406,218}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{406,218}}</string>
			<key>sourceSize</key>
			<string>{408,220}</string>
		</dict>
		<key>ui-icon-arrow-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{3451,2893},{152,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,128}}</string>
			<key>sourceSize</key>
			<string>{152,128}</string>
		</dict>
		<key>ui-icon-cancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2769,3345},{112,122}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{112,122}}</string>
			<key>sourceSize</key>
			<string>{116,124}</string>
		</dict>
		<key>ui-icon-coin-46.png</key>
		<dict>
			<key>frame</key>
			<string>{{3217,3327},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{88,88}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>ui-icon-coin-72.png</key>
		<dict>
			<key>frame</key>
			<string>{{3809,3061},{138,138}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{138,138}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>ui-icon-coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1723,3375},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{76,76}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>ui-icon-facebook-48px.png</key>
		<dict>
			<key>frame</key>
			<string>{{1765,2807},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{84,84}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>ui-icon-forward-skip-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{2893,3345},{116,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{116,112}}</string>
			<key>sourceSize</key>
			<string>{120,116}</string>
		</dict>
		<key>ui-icon-forward-skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{3949,2611},{136,130}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,130}}</string>
			<key>sourceSize</key>
			<string>{136,132}</string>
		</dict>
		<key>ui-icon-invite-email.png</key>
		<dict>
			<key>frame</key>
			<string>{{3419,2561},{164,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{164,164}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>ui-icon-invite-facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{3631,2349},{164,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{164,164}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>ui-icon-invite-messages.png</key>
		<dict>
			<key>frame</key>
			<string>{{3921,479},{164,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{164,164}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>ui-icon-invite-random.png</key>
		<dict>
			<key>frame</key>
			<string>{{3703,2515},{142,144}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{142,144}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>ui-icon-lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{3011,3345},{94,110}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{94,110}}</string>
			<key>sourceSize</key>
			<string>{100,116}</string>
		</dict>
		<key>ui-icon-menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{3735,1815},{124,110}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{124,110}}</string>
			<key>sourceSize</key>
			<string>{128,116}</string>
		</dict>
		<key>ui-icon-news.png</key>
		<dict>
			<key>frame</key>
			<string>{{3975,2185},{122,110}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{122,110}}</string>
			<key>sourceSize</key>
			<string>{128,116}</string>
		</dict>
		<key>ui-icon-ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{3123,3209},{122,116}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{122,116}}</string>
			<key>sourceSize</key>
			<string>{128,120}</string>
		</dict>
		<key>ui-icon-play.png</key>
		<dict>
			<key>frame</key>
			<string>{{3395,3193},{116,122}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{116,122}}</string>
			<key>sourceSize</key>
			<string>{120,136}</string>
		</dict>
		<key>ui-icon-plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{3949,3207},{102,102}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
		<key>ui-icon-reload.png</key>
		<dict>
			<key>frame</key>
			<string>{{3297,757},{128,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{128,132}}</string>
			<key>sourceSize</key>
			<string>{136,136}</string>
		</dict>
		<key>ui-icon-restart-arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{3513,3193},{116,118}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{116,118}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>ui-icon-settings-facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{3849,2611},{98,98}}</string>
			<key>offset</key>
			<string>{0,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,99}</string>
		</dict>
		<key>ui-icon-settings-icloud-sync.png</key>
		<dict>
			<key>frame</key>
			<string>{{3561,2727},{150,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,94}}</string>
			<key>sourceSize</key>
			<string>{150,94}</string>
		</dict>
		<key>ui-icon-settings-message-bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{2991,3251},{106,92}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{106,92}}</string>
			<key>sourceSize</key>
			<string>{112,100}</string>
		</dict>
		<key>ui-icon-settings-restore.png</key>
		<dict>
			<key>frame</key>
			<string>{{3981,2963},{102,102}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{102,102}}</string>
			<key>sourceSize</key>
			<string>{108,108}</string>
		</dict>
		<key>ui-icon-settings-sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{3859,3201},{118,88}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{118,88}}</string>
			<key>sourceSize</key>
			<string>{124,96}</string>
		</dict>
		<key>ui-icon-settings-user.png</key>
		<dict>
			<key>frame</key>
			<string>{{3747,3201},{110,106}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,106}}</string>
			<key>sourceSize</key>
			<string>{112,108}</string>
		</dict>
		<key>ui-icon-settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{2167,3321},{132,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,136}}</string>
			<key>sourceSize</key>
			<string>{132,136}</string>
		</dict>
		<key>ui-icon-vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{3703,2661},{144,114}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{144,114}}</string>
			<key>sourceSize</key>
			<string>{148,120}</string>
		</dict>
		<key>ui-icon-worldcup.png</key>
		<dict>
			<key>frame</key>
			<string>{{3247,3199},{146,124}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{146,124}}</string>
			<key>sourceSize</key>
			<string>{152,128}</string>
		</dict>
		<key>ui-inapp-bag-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{3671,2149},{204,198}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,22},{204,198}}</string>
			<key>sourceSize</key>
			<string>{208,224}</string>
		</dict>
		<key>ui-inapp-earn-coins-pig.png</key>
		<dict>
			<key>frame</key>
			<string>{{3459,1355},{308,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{308,248}}</string>
			<key>sourceSize</key>
			<string>{312,252}</string>
		</dict>
		<key>ui-inapp-pile-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{2991,3087},{162,130}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,16},{162,130}}</string>
			<key>sourceSize</key>
			<string>{168,148}</string>
		</dict>
		<key>ui-inapp-safe-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{1765,2473},{438,332}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{438,332}}</string>
			<key>sourceSize</key>
			<string>{444,336}</string>
		</dict>
		<key>ui-inapp-suitcase-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{2999,1885},{304,262}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,2},{304,262}}</string>
			<key>sourceSize</key>
			<string>{340,268}</string>
		</dict>
		<key>ui-inapp-truckload-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{1345,2133},{516,338}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{516,338}}</string>
			<key>sourceSize</key>
			<string>{520,352}</string>
		</dict>
		<key>ui-info-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{2643,3345},{112,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,124}}</string>
			<key>sourceSize</key>
			<string>{112,124}</string>
		</dict>
		<key>ui-info-star.png</key>
		<dict>
			<key>frame</key>
			<string>{{3949,3067},{134,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,138}}</string>
			<key>sourceSize</key>
			<string>{134,138}</string>
		</dict>
		<key>ui-loading-small-white.png</key>
		<dict>
			<key>frame</key>
			<string>{{3707,2777},{140,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,140}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>ui-loading-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{3309,2905},{140,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,140}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>ui-loading.png</key>
		<dict>
			<key>frame</key>
			<string>{{3483,1899},{250,248}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{250,248}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ui-logo-main-menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,2011},{1270,470}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1270,470}}</string>
			<key>sourceSize</key>
			<string>{1272,470}</string>
		</dict>
		<key>ui-medal-small-without-band.png</key>
		<dict>
			<key>frame</key>
			<string>{{4011,1},{64,68}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{64,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>ui-medal-with-band.png</key>
		<dict>
			<key>frame</key>
			<string>{{3309,2733},{116,170}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{116,170}}</string>
			<key>sourceSize</key>
			<string>{120,176}</string>
		</dict>
		<key>ui-medal-without-band.png</key>
		<dict>
			<key>frame</key>
			<string>{{3107,3327},{108,114}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{108,114}}</string>
			<key>sourceSize</key>
			<string>{108,116}</string>
		</dict>
		<key>ui-medals-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3195,2737},{254,112}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{254,112}}</string>
			<key>sourceSize</key>
			<string>{260,116}</string>
		</dict>
		<key>ui-more-value-tag.png</key>
		<dict>
			<key>frame</key>
			<string>{{2643,3119},{224,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{224,148}}</string>
			<key>sourceSize</key>
			<string>{228,152}</string>
		</dict>
		<key>ui-news-overlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,715},{918,682}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{918,682}}</string>
			<key>sourceSize</key>
			<string>{920,684}</string>
		</dict>
		<key>ui-offers-pricecut.png</key>
		<dict>
			<key>frame</key>
			<string>{{2515,3181},{252,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,126}}</string>
			<key>sourceSize</key>
			<string>{252,126}</string>
		</dict>
		<key>ui-offers-tag.png</key>
		<dict>
			<key>frame</key>
			<string>{{2977,2753},{332,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{332,106}}</string>
			<key>sourceSize</key>
			<string>{332,106}</string>
		</dict>
		<key>ui-pile-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{3439,2149},{230,194}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{230,194}}</string>
			<key>sourceSize</key>
			<string>{236,196}</string>
		</dict>
		<key>ui-plus-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3663,3061},{132,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{132,144}}</string>
			<key>sourceSize</key>
			<string>{136,148}</string>
		</dict>
		<key>ui-rocket-tutorial-arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129,3325},{76,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,64}}</string>
			<key>sourceSize</key>
			<string>{76,64}</string>
		</dict>
		<key>ui-rocket-tutorial-dash.png</key>
		<dict>
			<key>frame</key>
			<string>{{2247,1399},{68,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,20},{68,22}}</string>
			<key>sourceSize</key>
			<string>{76,64}</string>
		</dict>
		<key>ui-rocket-tutorial-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{2501,2489},{306,278}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{306,278}}</string>
			<key>sourceSize</key>
			<string>{306,280}</string>
		</dict>
		<key>ui-rocket-tutorial-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{2205,2473},{294,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,298}}</string>
			<key>sourceSize</key>
			<string>{294,298}</string>
		</dict>
		<key>ui-settings-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3529,3047},{132,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{132,144}}</string>
			<key>sourceSize</key>
			<string>{136,148}</string>
		</dict>
		<key>ui-shop-lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2591,1825},{38,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,44}}</string>
			<key>sourceSize</key>
			<string>{38,44}</string>
		</dict>
		<key>ui-shop-locked-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{3305,1885},{176,238}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,238}}</string>
			<key>sourceSize</key>
			<string>{176,238}</string>
		</dict>
		<key>ui-shop-locked-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{3123,3047},{116,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,160}}</string>
			<key>sourceSize</key>
			<string>{116,160}</string>
		</dict>
		<key>ui-shop-slotmachine-bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{1160,770}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1160,770}}</string>
			<key>sourceSize</key>
			<string>{1160,772}</string>
		</dict>
		<key>ui-shop-slotmachine-fg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1163,1},{1112,712}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{1112,712}}</string>
			<key>sourceSize</key>
			<string>{1116,712}</string>
		</dict>
		<key>ui-shopping-cart.png</key>
		<dict>
			<key>frame</key>
			<string>{{3241,2149},{196,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,208}}</string>
			<key>sourceSize</key>
			<string>{196,208}</string>
		</dict>
		<key>ui-sign-theme-info.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,773},{1152,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{1152,360}}</string>
			<key>sourceSize</key>
			<string>{1156,360}</string>
		</dict>
		<key>ui-speech-bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{2271,887},{580,502}}</string>
			<key>offset</key>
			<string>{10,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{580,502}}</string>
			<key>sourceSize</key>
			<string>{600,522}</string>
		</dict>
		<key>ui-superstar-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{3983,2853},{108,102}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{108,102}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>ui-superstar-sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,2011},{1420,222}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1420,222}}</string>
			<key>sourceSize</key>
			<string>{1420,224}</string>
		</dict>
		<key>ui-swipe-hint.png</key>
		<dict>
			<key>frame</key>
			<string>{{1047,773},{1084,302}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{1084,302}}</string>
			<key>sourceSize</key>
			<string>{1088,308}</string>
		</dict>
		<key>ui-switch-handle.png</key>
		<dict>
			<key>frame</key>
			<string>{{3981,2065},{104,118}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{104,118}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ui-switch-off.png</key>
		<dict>
			<key>frame</key>
			<string>{{3085,2737},{308,108}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{308,108}}</string>
			<key>sourceSize</key>
			<string>{312,128}</string>
		</dict>
		<key>ui-switch-on.png</key>
		<dict>
			<key>frame</key>
			<string>{{2947,2363},{308,108}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{308,108}}</string>
			<key>sourceSize</key>
			<string>{312,128}</string>
		</dict>
		<key>ui-thumb-city.png</key>
		<dict>
			<key>frame</key>
			<string>{{3877,2149},{96,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,0},{96,152}}</string>
			<key>sourceSize</key>
			<string>{164,152}</string>
		</dict>
		<key>ui-thumb-factory.png</key>
		<dict>
			<key>frame</key>
			<string>{{1851,2807},{80,142}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,4},{80,142}}</string>
			<key>sourceSize</key>
			<string>{164,152}</string>
		</dict>
		<key>ui-thumb-festival.png</key>
		<dict>
			<key>frame</key>
			<string>{{3581,2879},{124,146}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,2},{124,146}}</string>
			<key>sourceSize</key>
			<string>{164,152}</string>
		</dict>
		<key>ui-thumb-ice.png</key>
		<dict>
			<key>frame</key>
			<string>{{3241,3047},{140,150}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{140,150}}</string>
			<key>sourceSize</key>
			<string>{164,152}</string>
		</dict>
		<key>ui-thumb-jungle.png</key>
		<dict>
			<key>frame</key>
			<string>{{3849,2889},{142,130}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,14},{142,130}}</string>
			<key>sourceSize</key>
			<string>{164,152}</string>
		</dict>
		<key>ui-thumb-pyramid.png</key>
		<dict>
			<key>frame</key>
			<string>{{3427,2727},{164,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{164,132}}</string>
			<key>sourceSize</key>
			<string>{164,152}</string>
		</dict>
		<key>ui-trophy.png</key>
		<dict>
			<key>frame</key>
			<string>{{3631,3195},{114,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,114}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>ui-tutorial-boost-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1345,2473},{418,418}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{418,418}}</string>
			<key>sourceSize</key>
			<string>{420,420}</string>
		</dict>
		<key>ui-tutorial-boost-finger-pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{2853,887},{368,542}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{368,542}}</string>
			<key>sourceSize</key>
			<string>{372,548}</string>
		</dict>
		<key>ui-tutorial-boost-finger-unpressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1693,2893},{334,480}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{334,480}}</string>
			<key>sourceSize</key>
			<string>{336,488}</string>
		</dict>
		<key>ui-twitter-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{3981,1937},{126,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,104}}</string>
			<key>sourceSize</key>
			<string>{126,104}</string>
		</dict>
		<key>ui-world-frozen-cover.png</key>
		<dict>
			<key>frame</key>
			<string>{{2579,2297},{366,190}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{366,190}}</string>
			<key>sourceSize</key>
			<string>{368,192}</string>
		</dict>
		<key>ui-icon-settings-custom-discord.png</key>
		<dict>
			<key>frame</key>
			<string>{{3997,3391},{89,67}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,67}}</string>
			<key>sourceSize</key>
			<string>{90,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UI-ipadhd.png</string>
		<key>size</key>
		<string>{4086,3458}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c1f909dd218cb4ebd8ccd94050455f88$</string>
		<key>textureFileName</key>
		<string>UI-ipadhd.png</string>
	</dict>
</dict>
</plist>
