<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>get_coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1777},{26,28}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>tournaments-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,573},{224,44}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,44}}</string>
			<key>sourceSize</key>
			<string>{224,43}</string>
		</dict>
		<key>tournaments-top.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,1643},{32,42}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,42}}</string>
			<key>sourceSize</key>
			<string>{32,41}</string>
		</dict>
		<key>tournaments-tree.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1093},{32,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,256}}</string>
			<key>sourceSize</key>
			<string>{32,256}</string>
		</dict>
		<key>ui-avatar.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1049},{36,36}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>ui-bigicon-restart-gold-glow.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,1643},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ui-bigicon-restart-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1357},{40,40}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{40,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ui-bigicon-restart.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1571},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{38,38}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ui-button-138x90px.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,831},{70,46}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,46}}</string>
			<key>sourceSize</key>
			<string>{69,45}</string>
		</dict>
		<key>ui-button-192px.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1465},{96,56}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,56}}</string>
			<key>sourceSize</key>
			<string>{96,55}</string>
		</dict>
		<key>ui-button-347px.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1309},{174,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,44}}</string>
			<key>sourceSize</key>
			<string>{174,44}</string>
		</dict>
		<key>ui-button-blue-286px.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,657},{144,56}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,56}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>ui-button-blue-347px.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1263},{174,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,44}}</string>
			<key>sourceSize</key>
			<string>{174,44}</string>
		</dict>
		<key>ui-button-challenge-facebook-friends.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,133},{368,64}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,64}}</string>
			<key>sourceSize</key>
			<string>{367,64}</string>
		</dict>
		<key>ui-button-challenge-friends-turn-overlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,1723},{44,46}}</string>
			<key>offset</key>
			<string>{68.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{230,8},{44,46}}</string>
			<key>sourceSize</key>
			<string>{367,64}</string>
		</dict>
		<key>ui-button-challenge-friends-turn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,67},{368,64}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,64}}</string>
			<key>sourceSize</key>
			<string>{367,64}</string>
		</dict>
		<key>ui-button-challenge-your-turn-overlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,1723},{44,46}}</string>
			<key>offset</key>
			<string>{68.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{230,8},{44,46}}</string>
			<key>sourceSize</key>
			<string>{367,64}</string>
		</dict>
		<key>ui-button-challenge-your-turn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{368,64}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,64}}</string>
			<key>sourceSize</key>
			<string>{367,64}</string>
		</dict>
		<key>ui-button-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,1513},{60,54}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,54}}</string>
			<key>sourceSize</key>
			<string>{59,54}</string>
		</dict>
		<key>ui-button-green-230px.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1379},{116,56}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,56}}</string>
			<key>sourceSize</key>
			<string>{115,55}</string>
		</dict>
		<key>ui-button-green-276px.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,155},{138,56}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,56}}</string>
			<key>sourceSize</key>
			<string>{138,55}</string>
		</dict>
		<key>ui-button-green-arrow-right-296.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,473},{148,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,54}}</string>
			<key>sourceSize</key>
			<string>{148,54}</string>
		</dict>
		<key>ui-button-green-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,1697},{66,54}}</string>
			<key>offset</key>
			<string>{-1.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,54}}</string>
			<key>sourceSize</key>
			<string>{69,54}</string>
		</dict>
		<key>ui-button-green-fat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1583},{88,54}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,54}}</string>
			<key>sourceSize</key>
			<string>{87,54}</string>
		</dict>
		<key>ui-button-green-round.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1383},{54,58}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,57}</string>
		</dict>
		<key>ui-button-green-ultrawide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1251},{104,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,40}}</string>
			<key>sourceSize</key>
			<string>{104,40}</string>
		</dict>
		<key>ui-button-green-wide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1127},{78,40}}</string>
			<key>offset</key>
			<string>{-0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,40}}</string>
			<key>sourceSize</key>
			<string>{79,40}</string>
		</dict>
		<key>ui-button-invite-facebook-friend-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,1585},{72,56}}</string>
			<key>offset</key>
			<string>{148.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{296,0},{72,56}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-left-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,1635},{66,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,54}}</string>
			<key>sourceSize</key>
			<string>{66,54}</string>
		</dict>
		<key>ui-button-level-locked-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,773},{140,56}}</string>
			<key>offset</key>
			<string>{114.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{228,0},{140,56}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-level-locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,315},{368,56}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,56}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-level-selected-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,97},{138,56}}</string>
			<key>offset</key>
			<string>{115.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{230,0},{138,56}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-level-selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,257},{368,56}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,56}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-level-unlocked-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,213},{136,56}}</string>
			<key>offset</key>
			<string>{116.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{232,0},{136,56}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-level-unlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,199},{368,56}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,56}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-orange-154px.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,831},{78,46}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,46}}</string>
			<key>sourceSize</key>
			<string>{77,45}</string>
		</dict>
		<key>ui-button-orange-192px.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1579},{96,54}}</string>
			<key>offset</key>
			<string>{0,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,54}}</string>
			<key>sourceSize</key>
			<string>{96,55}</string>
		</dict>
		<key>ui-button-orange-230px.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1437},{114,54}}</string>
			<key>offset</key>
			<string>{-0.5,0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,54}}</string>
			<key>sourceSize</key>
			<string>{115,55}</string>
		</dict>
		<key>ui-button-orange-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,1773},{62,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,54}}</string>
			<key>sourceSize</key>
			<string>{62,54}</string>
		</dict>
		<key>ui-button-orange-fat.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1523},{88,54}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,54}}</string>
			<key>sourceSize</key>
			<string>{87,54}</string>
		</dict>
		<key>ui-button-orange-round.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1327},{54,58}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,57}</string>
		</dict>
		<key>ui-button-pink-347px.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1217},{174,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,44}}</string>
			<key>sourceSize</key>
			<string>{174,44}</string>
		</dict>
		<key>ui-button-right-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1609},{66,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,54}}</string>
			<key>sourceSize</key>
			<string>{66,54}</string>
		</dict>
		<key>ui-button-round.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1271},{54,58}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,57}</string>
		</dict>
		<key>ui-button-settings-fade.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,1723},{44,48}}</string>
			<key>offset</key>
			<string>{160.5,1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{322,2},{44,48}}</string>
			<key>sourceSize</key>
			<string>{367,55}</string>
		</dict>
		<key>ui-button-thin-blue-198px.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,431},{100,36}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,36}}</string>
			<key>sourceSize</key>
			<string>{99,36}</string>
		</dict>
		<key>ui-button-ultrawide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,359},{130,54}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,54}}</string>
			<key>sourceSize</key>
			<string>{129,54}</string>
		</dict>
		<key>ui-button-ultrawide-l-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,715},{140,56}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,56}}</string>
			<key>sourceSize</key>
			<string>{139,55}</string>
		</dict>
		<key>ui-button-ultrawide-xl-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,415},{150,56}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,56}}</string>
			<key>sourceSize</key>
			<string>{150,55}</string>
		</dict>
		<key>ui-button-wide-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1409},{102,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,54}}</string>
			<key>sourceSize</key>
			<string>{102,54}</string>
		</dict>
		<key>ui-button-wide-right-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1477},{92,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,54}}</string>
			<key>sourceSize</key>
			<string>{92,54}</string>
		</dict>
		<key>ui-challenge-menu-pole-cut.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,373},{16,10}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,10}}</string>
			<key>sourceSize</key>
			<string>{16,9}</string>
		</dict>
		<key>ui-challenge-menu-pole.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,1013},{16,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,256}}</string>
			<key>sourceSize</key>
			<string>{16,256}</string>
		</dict>
		<key>ui-challenge-menu-sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,879},{210,54}}</string>
			<key>offset</key>
			<string>{0.5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,54}}</string>
			<key>sourceSize</key>
			<string>{209,56}</string>
		</dict>
		<key>ui-checkbox-big-box.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,1777},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>ui-checkbox-big-check.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1207},{42,40}}</string>
			<key>offset</key>
			<string>{0.5,0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>ui-checkbox-medium-box.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1251},{16,16}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
		<key>ui-checkbox-medium-check.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,1725},{22,22}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>ui-checkbox-small-box.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,785},{12,12}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>ui-checkbox-small-check.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,745},{18,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,16}}</string>
			<key>sourceSize</key>
			<string>{18,16}</string>
		</dict>
		<key>ui-coinbar-big-coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,1773},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ui-coinbar-coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,1749},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>ui-coinbar.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1355},{120,22}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,22}}</string>
			<key>sourceSize</key>
			<string>{119,22}</string>
		</dict>
		<key>ui-facebook-86px.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,1809},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>ui-facebook-profile-frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1531},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>ui-finger.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1301},{88,122}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,122}}</string>
			<key>sourceSize</key>
			<string>{88,121}</string>
		</dict>
		<key>ui-gamecenter-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1683},{34,38}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>ui-hand-hint.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,551},{310,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,172}}</string>
			<key>sourceSize</key>
			<string>{310,172}</string>
		</dict>
		<key>ui-high-score-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,1409},{102,56}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,56}}</string>
			<key>sourceSize</key>
			<string>{102,55}</string>
		</dict>
		<key>ui-icon-arrow-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,1695},{38,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,32}}</string>
			<key>sourceSize</key>
			<string>{38,32}</string>
		</dict>
		<key>ui-icon-cancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,1809},{30,32}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>ui-icon-coin-46.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,1809},{24,24}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>ui-icon-coin-72.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1011},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>ui-icon-coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1665},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>ui-icon-facebook-48px.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,1725},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>ui-icon-forward-skip-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,1777},{30,30}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>ui-icon-forward-skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,1773},{34,34}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,33}</string>
		</dict>
		<key>ui-icon-invite-email.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,1679},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>ui-icon-invite-facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,1635},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>ui-icon-invite-messages.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,1643},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>ui-icon-invite-random.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1491},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{38,38}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>ui-icon-lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,1777},{26,30}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{25,29}</string>
		</dict>
		<key>ui-icon-menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,1809},{32,30}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>ui-icon-news.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,1777},{32,30}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>ui-icon-ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,1777},{32,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,30}</string>
		</dict>
		<key>ui-icon-play.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,1753},{30,32}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>ui-icon-plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,1817},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>ui-icon-reload.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,1687},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>ui-icon-restart-arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,1777},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>ui-icon-settings-facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,1817},{26,26}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>ui-icon-settings-icloud-sync.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,1665},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>ui-icon-settings-message-bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1807},{28,26}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>ui-icon-settings-restore.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,1729},{28,28}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>ui-icon-settings-sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,1809},{32,24}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,24}}</string>
			<key>sourceSize</key>
			<string>{31,24}</string>
		</dict>
		<key>ui-icon-settings-user.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1729},{28,28}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>ui-icon-settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,1687},{34,34}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>ui-icon-vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,1727},{38,30}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,30}}</string>
			<key>sourceSize</key>
			<string>{37,30}</string>
		</dict>
		<key>ui-icon-worldcup.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,1723},{38,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,32}}</string>
			<key>sourceSize</key>
			<string>{38,32}</string>
		</dict>
		<key>ui-inapp-bag-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,1355},{52,52}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,56}</string>
		</dict>
		<key>ui-inapp-earn-coins-pig.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,799},{78,64}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,64}}</string>
			<key>sourceSize</key>
			<string>{78,63}</string>
		</dict>
		<key>ui-inapp-pile-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1167},{42,34}}</string>
			<key>offset</key>
			<string>{0,-2.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{42,34}}</string>
			<key>sourceSize</key>
			<string>{42,37}</string>
		</dict>
		<key>ui-inapp-safe-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1493},{112,84}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,84}}</string>
			<key>sourceSize</key>
			<string>{111,84}</string>
		</dict>
		<key>ui-inapp-suitcase-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,1505},{78,68}}</string>
			<key>offset</key>
			<string>{2.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{78,68}}</string>
			<key>sourceSize</key>
			<string>{85,67}</string>
		</dict>
		<key>ui-inapp-truckload-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,271},{130,86}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{130,86}}</string>
			<key>sourceSize</key>
			<string>{130,88}</string>
		</dict>
		<key>ui-info-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1809},{28,32}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>ui-info-star.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1087},{34,36}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,36}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>ui-loading-small-white.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,973},{36,36}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>ui-loading-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,935},{36,36}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>ui-loading.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,1439},{64,62}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{64,62}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ui-logo-main-menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,431},{318,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,118}}</string>
			<key>sourceSize</key>
			<string>{318,118}</string>
		</dict>
		<key>ui-medal-small-without-band.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,725},{18,18}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>ui-medal-with-band.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,1691},{30,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,44}}</string>
			<key>sourceSize</key>
			<string>{30,44}</string>
		</dict>
		<key>ui-medal-without-band.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,1809},{28,30}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{27,29}</string>
		</dict>
		<key>ui-medals-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1773},{66,30}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,30}}</string>
			<key>sourceSize</key>
			<string>{65,29}</string>
		</dict>
		<key>ui-more-value-tag.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1431},{58,38}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,38}}</string>
			<key>sourceSize</key>
			<string>{57,38}</string>
		</dict>
		<key>ui-news-overlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1127},{230,172}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,172}}</string>
			<key>sourceSize</key>
			<string>{230,171}</string>
		</dict>
		<key>ui-offers-pricecut.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,1773},{64,32}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{63,32}</string>
		</dict>
		<key>ui-offers-tag.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1477},{84,28}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,28}}</string>
			<key>sourceSize</key>
			<string>{83,27}</string>
		</dict>
		<key>ui-pile-of-coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,1569},{60,50}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{59,49}</string>
		</dict>
		<key>ui-plus-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1647},{34,38}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>ui-rocket-tutorial-arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,763},{20,16}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>ui-rocket-tutorial-dash.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,715},{18,8}}</string>
			<key>offset</key>
			<string>{-0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{18,8}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>ui-rocket-tutorial-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1639},{78,70}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,70}}</string>
			<key>sourceSize</key>
			<string>{77,70}</string>
		</dict>
		<key>ui-rocket-tutorial-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,1621},{74,76}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,76}}</string>
			<key>sourceSize</key>
			<string>{74,75}</string>
		</dict>
		<key>ui-settings-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1611},{34,38}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>ui-shop-lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,391},{10,12}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,11}</string>
		</dict>
		<key>ui-shop-locked-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1711},{44,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,60}}</string>
			<key>sourceSize</key>
			<string>{44,60}</string>
		</dict>
		<key>ui-shop-locked-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1399},{30,40}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{29,40}</string>
		</dict>
		<key>ui-shop-slotmachine-bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,725},{290,194}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,194}}</string>
			<key>sourceSize</key>
			<string>{290,193}</string>
		</dict>
		<key>ui-shop-slotmachine-fg.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,935},{280,178}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,178}}</string>
			<key>sourceSize</key>
			<string>{279,178}</string>
		</dict>
		<key>ui-shopping-cart.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,1719},{50,52}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{49,52}</string>
		</dict>
		<key>ui-sign-theme-info.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,921},{290,90}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,90}}</string>
			<key>sourceSize</key>
			<string>{289,90}</string>
		</dict>
		<key>ui-speech-bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,529},{146,126}}</string>
			<key>offset</key>
			<string>{2,2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{146,126}}</string>
			<key>sourceSize</key>
			<string>{150,131}</string>
		</dict>
		<key>ui-superstar-empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,1787},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>ui-superstar-sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,373},{356,56}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,56}}</string>
			<key>sourceSize</key>
			<string>{355,56}</string>
		</dict>
		<key>ui-swipe-hint.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1013},{272,78}}</string>
			<key>offset</key>
			<string>{0,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,78}}</string>
			<key>sourceSize</key>
			<string>{272,77}</string>
		</dict>
		<key>ui-switch-handle.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,1809},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ui-switch-off.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1579},{78,28}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,28}}</string>
			<key>sourceSize</key>
			<string>{78,32}</string>
		</dict>
		<key>ui-switch-on.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1563},{78,28}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,28}}</string>
			<key>sourceSize</key>
			<string>{78,32}</string>
		</dict>
		<key>ui-thumb-city.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,1687},{26,38}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{26,38}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>ui-thumb-factory.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,1753},{22,38}}</string>
			<key>offset</key>
			<string>{2.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{22,38}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>ui-thumb-festival.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1211},{34,38}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>ui-thumb-ice.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,533},{36,38}}</string>
			<key>offset</key>
			<string>{-0.5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>ui-thumb-jungle.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,1691},{38,32}}</string>
			<key>offset</key>
			<string>{-1.5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{38,32}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>ui-thumb-pyramid.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1123},{42,34}}</string>
			<key>offset</key>
			<string>{0.5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{42,34}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>ui-trophy.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,1777},{30,30}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>ui-tutorial-boost-button.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1301},{106,106}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{105,105}</string>
		</dict>
		<key>ui-tutorial-boost-finger-pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,1},{94,138}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,138}}</string>
			<key>sourceSize</key>
			<string>{93,137}</string>
		</dict>
		<key>ui-tutorial-boost-finger-unpressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1391},{84,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,122}}</string>
			<key>sourceSize</key>
			<string>{84,122}</string>
		</dict>
		<key>ui-twitter-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,1691},{32,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,26}}</string>
			<key>sourceSize</key>
			<string>{32,26}</string>
		</dict>
		<key>ui-world-frozen-cover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1533},{92,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,48}}</string>
			<key>sourceSize</key>
			<string>{92,48}</string>
		</dict>
		<key>ui-icon-settings-custom-discord.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1860},{26,20}}</string>
			<key>offset</key>
			<string>{0.5,-0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>sourceSize</key>
			<string>{26,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>UI.png</string>
		<key>size</key>
		<string>{510,1844}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a3602497a217306f6e783c36db026753$</string>
		<key>textureFileName</key>
		<string>UI.png</string>
	</dict>
</dict>
</plist>
